@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили для скроллбара и поведения */
body {
    background-color: #09090b;
    color: #fafafa;
    overflow-x: hidden;
}

/* Скрытие скроллбара для чистого вида (Chrome/Safari/Webkit) */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Убрать стрелки у input type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Скрыть скроллбар у контейнера, контент скроллится */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}